{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Востановление пароля{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="text-center">Забыли пароль? Введите email, для получения ссылки</h3>
        </div>
    </div>
    <div class="row>">
        <div class="col-md-6 my-3 mx-auto" id="home">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-info btn-lg mb-2" type="submit">Отправить</button>
            </form>
        </div>
    </div>


{% endblock content %}l>