{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Настройки{% endblock title %}
    
{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="text-center">Настройки</h3>
        </div>
    </div>
    <div class="row>">
        <div class="col-md-6 my-3 mx-auto" id="home">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-info my-1 btn-lg btn-block" type="submit">Сохранить</button>
            </form>
            <div>
                <form action="{% url 'accounts:delete' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger mt-2 btn-lg" type="submit">Удалить пользователя</button>
                    <a class="text-info float-right mt-3" href="{% url 'accounts:password_change' %}">Сменить пароль?</a>
                </form>
                <hr>
                <p>Если Вы не нашли подходящий набор Город, Специальность, Вы можете открыть форму, ниже и заполнить
                    с Вашими пожеланиями. После того, как необходимые данные будут добавлены, Вы получите письмо на
                    указанный email.</p>

                <p>
                  <button class="btn btn-info mb-2" type="button" data-toggle="collapse" data-target="#collapsed"
                          aria-expanded="false" aria-controls="collapseExample">Форма</button>
                </p>
                <div class="collapse" id="collapsed">
                    <form action="{% url 'accounts:contact' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form contact_form %}
                        <button class="btn btn-info mb-3 btn-lg" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}